<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1639155859-jla0mpl29qtk2bjeg8gc7sd59h2km8l8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1639155859-jla0mpl29qtk2bjeg8gc7sd59h2km8l8</string>
	<key>API_KEY</key>
	<string>AIzaSyDm8s1rXF3Y9-bWIrAS7Ya2iylO2osZknw</string>
	<key>GCM_SENDER_ID</key>
	<string>1639155859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fixmeFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-2319b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-2319b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1639155859:ios:c2abfb5d2e27248afea566</string>
</dict>
</plist>